@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.line {
  width: 100%;
  background: white;
  height: 1px;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
  width: 100%;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#perfection-slider-section .swiper {
  border: 5x solid white;
  height: 100%;
  width: 100%;
}

#perfection-slider-section .swiper-slide {
  height: 75%;
}

#footer-section p {
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
}

#footer-section span {
  color: black;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#awards-recognition-section div {
  width: 60%;
  aspect-ratio: 1/0.7;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#awards-recognition-section div img{
  height: 80%;
  width: 80%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

#awards-recognition-section div img:hover{
  transform: scale(1.1) ;
}

#testimonial-section .swiper{
  margin-bottom: 20px;
}

#testimonial-section .swiper-slide{
  width: 50%;
  aspect-ratio: 1/0.6;
}




