@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}


.line {
  width: 100%;
  background: white;
  height: 1px;
}

.swiper{
  height: 100%;
  width: 100%;
}

.swiper-slide{
  height: 100%;
  width: 100%;
}

.swiper-slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#footer-section p {
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
}

#footer-section span {
  color: black;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


